<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="myHost" value="mycloud.perfectomobile.com" />
    <add key="myUser" value="your@email.com" />
    <add key="myPassword" value="Y0urP@ssw0rd" />
    <add key="myDevice" value="DeviceID" />
  </appSettings>
</configuration>